# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
package-lock.json
node_modules
dist
*.gz

# webstorm
.idea/

# hexo
.DS_Store
*.log
public/
.deploy*/
src/_drafts

db
book
book_src
